.env
.task
bin
build/helpers
build/darwin/Info.plist
cmd/privileged-helper/Info.plist
frontend/dist
frontend/node_modules
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe

wim-test/
wimlib*/
wimlib-*
*.dmg
.DS_Store
