<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.kyleupton.flashit.helper</string>

    <key>MachServices</key>
    <dict>
        <key>dev.kyleupton.flashit.helper</key>
        <true/>
    </dict>
</dict>
</plist>