<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>dev.kyleupton.boot-builder.helper</string>

    <key>CFBundleVersion</key>
    <string>1.0</string>

    <key>CFBundleShortVersionString</key>
    <string>1.0</string>

    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <key>SMAuthorizedClients</key>
    <array>
        <string>identifier "dev.kyleupton.boot-builder"</string>
    </array>
</dict>
</plist>